# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build Snapshot Release

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "*.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Build
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot --clean

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backrest-snapshot-builds
          path: |
            dist/*.tar.gz
            dist/*.zip

      - name: Generate Installers
        run: |
          mkdir -p dist-installers
          ./scripts/generate-installers.sh ./dist-installers

      - name: Upload Installers
        uses: actions/upload-artifact@v4
        with:
          name: backrest-snapshot-installers
          path: dist-installers/*.exe
